<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JoyStick Tester/JInputJoystickTestV2/jinputjoysticktestv2/JoystickTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jinputjoysticktestv2.JoystickTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JoyStick Tester"/>
</launchConfiguration>
